html {
  height: 100%;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif !important;
}

.container {
  margin-top: 10vh;
}

.user-inputs {
  width: 10%;
  margin: auto;
}

.results {
  width: 50%;
  margin: auto;
}

.btn {
  width: 50% !important;
  margin: auto;
}
